@page
@model MiszMasz.Pages.Authenticate.LoginModel
@{  
    ViewBag.Title = "Login";  
}

<form method="post" class="auth-form"> 
    <table>  
        <tr>  
            <td>
                Login
            </td>  
            <td>
                <input asp-for="LoginRequest.Username" class="form-control input" />
            </td>  
        </tr>  
        <tr>  
            <td>  
                Hasło
            </td>  
            <td>  
                <input asp-for="LoginRequest.Password" class="form-control input" type="password" />
            </td>  
        </tr>  
        <tr>
            <td colspan="2">  
                <input type="submit" class="button" value="Zaloguj" />
            </td>  
        </tr>
        <tr>  
            <td colspan="2">  
                @if (@ViewBag.Errors != null)  
                {  
                    <div class="errors">  
                        @ViewBag.Errors  
                    </div>  
                } 
            </td>  
        </tr>  
        <tr>
            <td colspan="2">
                Nie posiadasz konta?  
                <a asp-page="/Authenticate/Register">Zarejestruj</a>
            </td>  
        </tr> 
    </table>  
</form>

<link rel="stylesheet" href="~/css/authenticate.css" />