@page
@model MiszMasz.Pages.Authenticate.RegisterModel
@{  
    ViewData["Title"] = "Register";  
}  

<form method="post" class="auth-form">
    <table>  
        <tr>  
            <td>
                Email
            </td>
            <td>
                <input asp-for="RegisterRequest.Email" class="form-control input" />
            </td>
        </tr>  
        <tr> 
            <td>  
                Login
            </td> 
            <td>  
                <input asp-for="RegisterRequest.Username" class="form-control input" />
            </td>  
            
        </tr>
        <tr> 
            <td>  
                Hasło
            </td> 
            <td>  
                <input asp-for="RegisterRequest.Password" class="form-control input" type="password" />
            </td>   
        </tr> 
        <tr> 
            <td>  
                Powtórz hasło
            </td> 
            <td>  
                <input asp-for="RegisterRequest.RepeatPassword" class="form-control input" type="password"/>
            </td>   
        </tr> 
        <tr>  
            <td colspan="2">  
                <input type="submit" class="button" value="Zarejestruj" />
            </td>  
        </tr>
        <tr>  
            <td colspan="2">  
                @if (@ViewBag.Errors != null)  
                {  
                    <div class="errors">  
                        @ViewBag.Errors  
                    </div>  
                } 
            </td>  
        </tr>  
    </table>  
</form>

<link rel="stylesheet" href="~/css/authenticate.css" />