@page
@model MiszMasz.Pages.Recipes.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="recipe-create">
    <center><h1>Utwórz przepis</h1></center>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h3>Nazwa: </h3>
            <input asp-for="Recipe.Name" class="form-control" />
            <span asp-validation-for="Recipe.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h3>Opis: </h3>
            <textarea asp-for="Recipe.Description" class="form-control recipe-create-description" ></textarea>
            <span asp-validation-for="Recipe.Description" class="text-danger"></span>
        </div>
        <div class="recipe-create-submit">
            <input type="submit" value="Utwórz" class="button" />
            <a asp-page="MyRecipes">Anuluj</a>
        </div>
    </form>
</div>

<link rel="stylesheet" href="~/css/recipes.css" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
