@page
@model MiszMasz.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="delete-form">
    <center>
        <h1>Usuwanie</h1>
        <h3>Czy na pewno chcesz usunąć przepis?</h3>
    </center>

    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <center>
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a asp-page="./Index">Anuluj</a>
        </center>
    </form>
</div>

<link rel="stylesheet" href="~/css/recipes.css" />