@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
     <div class="column1">
       <h1>Misz Masz</h1>
       <p>Znajdz przepis dla siebie!</p>
        <a href="/recipes"><button class="button">Zaczynamy</button></a>
     </div>
     <div class="column2">
       <img src="/img/unknown.png" alt="banner" width="500px">
     </div>
</div>
