<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MiszMasz</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav>
            <div class="logo"> 
                <a href="/">
                    <img src="/img/unknown.png" alt="banner" height="100%">
                </a>
            </div>
            
            <!-- toggle menu button -->
            <span class="menubtn" onclick="openNav()">&#9776;</span>

            <div class="navLinks">
                <ul>
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/recipes">Przepisy</a></li>
                @if (!(bool) ViewData["IsAuthorized"])
                {
                    <li><a href="/authenticate/login">Zaloguj</a></li>
                }
                else
                {
                    <li><a href="/recipes/MyRecipes">Moje Przepisy</a></li>
                    <li><a href="/recipes/Cookbook">Książka kucharska</a></li>
                    <li><a href="/authenticate/logout">Wyloguj</a></li>
                }
            </ul>
            </div>
        </nav>

        <div class="sideNav" id="sidenav">
            <a href="#" class="closeBtn" onclick="closeNav()"> &#10006;</a>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#"> Login </a>
        </div>
        
        <div class="content">
            @RenderBody()
        </div>

        <footer class="border-top footer text-muted">
            &copy; 2022 - MiszMAsz
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
